.xhidden {
		visibility: hidden;
	}
	
	a.clmns--control-pause{
		padding: 0.4rem 0.6rem;
	}
	
	.envelope {
		color : #C79F6D;
		font-family: 'Playball', cursive;
	}
	.envelope>h1 {
		font-size:5rem;
	}
	.envelope>h1>small {
		font-size:50%;
	}

	html {
		width: 100%;
		min-height: 100vh;
	}
	
	body {
		width: 100%;
		min-height: 100vh;
	}
	
	body{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		background-color: #FFFAFF !important;
	}
	
	.grecaptcha-badge { visibility: hidden; }
	
	.form-control:focus {
	  box-shadow: none !important;
	}
	.form-control:focus, .form-select:focus {
	  border-color: #ae199c !important;
	}
	.form-select:focus {
		box-shadow: 0 0 0 .25rem rgba(174,59,160,.25) !important;
	}
	
	.card-purple {
		border-color: #991188 !important
	}
	.gold {
		color: #C79F6D !important;
	}
	
	.purple {
		color: #991188 !important;
	}
	
	.btn-primary{
		background-color:#991188 !important;
		border-color:#ae199c !important;
		--bs-btn-focus-shadow-rgb: 174, 59, 160 !important;
	}
	
	.btn-primary:focus{
		box-shadow: 0 0 0 3px rgba(174,59,160,.5) !important;
	}
	
	.btn-outline-primary{
		--bs-btn-color: #991188 !important;
		--bs-btn-border-color: #991188 !important;
		--bs-btn-hover-bg: #991188 !important;
		--bs-btn-hover-border-color: #991188 !important;
		--bs-btn-focus-shadow-rgb: #991188 !important;
		--bs-btn-active-bg: #991188 !important;
		--bs-btn-active-border-color: #991188 !important;
		--bs-btn-disabled-color: #991188 !important;
	}
	
	.btn-outline-primary:focus{
		background-color: #991188 !important;
		border-color: #991188 !important;
	}
	
	.swal2-input{
		text-transform: uppercase;
	}
	
	.inlineinput{
		border: none !important;
		outline: none !important;
		margin: 0px !important;
		padding: 0px !important;
		text-transform: uppercase;
		background: none;
	}
	.swall-input-ask {
		background-color: rgba(100, 58, 93, 0.7) !important;
		border: 0.2rem solid rgba(100, 58, 93, 0.7) !important;
	}
	
	.swall-input-ask:focus {
		box-shadow: inset 0 1px 1px rgb(100, 58, 93),0 0 0 3px rgb(198, 113, 184) !important;
	}
	
	.close-envelope-popup {
		border: solid 0.3rem !important;
		border-color: #C79F6D !important;
		-webkit-mask-image:
			 radial-gradient(circle at top left, transparent 0, transparent  20px, black 21px),
			 radial-gradient(circle at top right, transparent 0, transparent  20px, black 21px),
			 radial-gradient(circle at bottom left, transparent 0, transparent  20px, black 21px),
			 radial-gradient(circle at bottom right, transparent 0, transparent  20px, black 21px);
		-webkit-mask-position: top left, top right, bottom left, bottom right;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 51% 51%;
		mask-image:
			radial-gradient(circle at top left, transparent 0, transparent 20px, black 21px),
			radial-gradient(circle at top right, transparent 0, transparent 20px, black 21px),
			radial-gradient(circle at bottom left, transparent 0, transparent 20px, black 21px),
			radial-gradient(circle at bottom right, transparent 0, transparent 20px, black 21px);
		mask-position: top left, top right, bottom left, bottom right;
		mask-repeat: no-repeat;
		mask-size: 51% 51%;
		background-image: url(https://cdn.jsdelivr.net/gh/asep-nabila/asep-nabila.github.io@master/img/grain-violet-close-envelope.svg) !important;
		background-repeat: repeat !important;
		background-position: top center !important;
		background-origin: border-box !important;
		background-size: auto !important;
	}
	
	.close-envelope-popup-img-bridegroom{
		border-radius: 50%;
		border: solid 0.3rem !important;
		border-color: #C79F6D !important;
		margin: 2.5rem auto 2.5rem auto!important;
	}
	
	.greatings {
		color : #404040;
		margin: 0.5rem auto;
	}
	
	.receivername {
		color : #F2B90C;
		margin: 1.5rem auto;
	}
	.envelopefooter{color : #404040;font-size: 0.75rem;}
	#swal2-title{margin-top:-2rem!important;margin-bottom:0px!important;padding-top:0px!important;padding-bottom:0px!important;}
	.swal2-footer{border-top: none !important;}
	.navbotomfloating>li{float: left;display: block;}
	#player-elem>.music-controler{opacity: 0.4;}
	#player-elem>.music-controler:hover{opacity: 1;}
	.music-controler{font-size:1.5rem;}
	.rotating-spin,.rotating-spin::before {-webkit-animation: spin 2s infinite linear;-moz-animation: spin 2s infinite linear;-o-animation: spin 2s infinite linear;animation: spin 2s infinite linear;}
	@-moz-keyframes spin {0% {-moz-transform: rotate(0deg);}100% {-moz-transform: rotate(359deg);}}
	@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(359deg);}}
	@-o-keyframes spin {0% {-o-transform: rotate(0deg);}100% {-o-transform: rotate(359deg);}}
	@keyframes spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}}
	.in-the-name-of-allah{font-family: Arabic;}
	@media (max-width:450px)  {
		.in-the-name-of-allah{
			font-size: 1.5rem;
		}
	}
	
	.title-section{
		font-family: 'Tangerine', cursive;
		font-weight: 700;
		font-size: 3rem;
	}
	
	.sub-title{
		font-family: 'Tangerine', cursive;
		font-weight: 700;
		font-size: 2rem;
	}
	
	.marquee {
		overflow: hidden;
		display: inline-block;
		white-space: nowrap;
		max-width: 90%;
		margin-bottom: -0.3rem;
	}
	
	.bg-top{
		height: 6.5vw;
		background-repeat: repeat-x;
		background-position: top;
		background-size: auto 100%;
		//background-image: url("https://cdn.jsdelivr.net/gh/asep-nabila/asep-nabila.github.io@master/img/bg-menu/top.png");
	}
	.container-section{
		min-height: 100vh;
	}

	.receivername {text-transform: capitalize;}
	.card-text{font-weight: lighter;}
	#messagesfromvisitor{
		height : 50vh;
		min-height : 50vh;
		max-height : 50vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.date-message, .collage-message{
		font-size: 0.7rem
	}
	
	.is-coleague-of-text {
		display: none; color:#cecece;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
	}
	.is-coleague-of:hover > .is-coleague-of-text {display: inline;}
	
	.player-panel{position: fixed;bottom: 0;z-index: 1030;margin-bottom: 4.6rem;}#player-title-panel {left: 0;}#player-control-panel {right: 0;transform: scale(0.9);}

	.grid-sizer, .grid-item { height: auto; width: 20%; }
	.grid-item--width2 { height: auto; width: 40%; }
	@media (max-width:450px)  {.grid-sizer,.grid-item { height: auto; width: 50%; }.grid-item--width2 { height: auto; width: 100%; }}
	#countdown > ul > li {display: inline-block;font-size: 1.5em;list-style-type: none;padding: 0 1em;text-transform: uppercase;}#countdown > ul > li > span {display: block;font-size: 2.5rem;}.min-m-on-desktop-5rem{margin-bottom: -5.2rem !important;}
	@media all and (max-width: 768px) {	  #countdown > ul > li {font-size: calc(1.5rem * var(--smaller));}#countdown > ul > li > span {font-size: calc(2.5rem * var(--smaller));}.min-m-on-desktop-5rem{0}}
	.groomphonenumbershow{margin-bottom: -1px;}