[submodule "qrcode-reader"]
	path = qrcode-reader
	url = https://github.com/asep-nabila/qrcode-reader.git
[submodule "calamansi-js"]
	path = calamansi-js
	url = https://github.com/asep-nabila/calamansi-js.git
